.DS_Store
.vscode/

db/pocketbase*

search/meilisearch*
search/data.ms*
search/dumps

run.sh
build*.sh
start*.*

data*/
/.run/Web Dev Server.run.xml
/.idea/runConfigurations/Web_Dev_Server.xml
/web/static/md/custom
/web/.run/
